body {
  font-family: "Meiryo", serif;
  color: #333;
  background-color: #f0f0f0;
  list-style: none;
}
body a {
  color: inherit;
}
body h1 {
  font-size: 36px;
  font-weight: regular;
  line-height: 0.6666666667;
  letter-spacing: 0.23em;
}
body li {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.7142857143;
  letter-spacing: 0em;
}
body p {
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}
body dt,
body dd {
  font-size: 14px;
  font-weight: regular;
  line-height: 2.2142857143;
  letter-spacing: 0em;
}
body time {
  font-size: 13px;
  font-weight: regular;
  line-height: 1.8461538462;
  letter-spacing: 0em;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.l-contents {
  margin: 0 auto;
  max-width: 1400px;
}
.l-contents__picture {
  width: 100%;
}
@media (max-width: 900px) {
  .l-contents__picture {
    object-fit: cover;
    width: 100%;
  }
}
.l-contents__picture img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.l-contents__news {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 128px;
}
@media (max-width: 599px) {
  .l-contents__news {
    flex-direction: column;
    padding-left: 0;
  }
}
.l-contents__news__topic {
  display: flex;
  margin-top: 56px;
}
.l-contents__news__topic li {
  width: 32%;
  border-right: 1px solid #000;
}
.l-contents__news__topic li:nth-child(1) {
  padding-right: 19px;
}
.l-contents__news__topic li:nth-child(2) {
  margin-left: 19px;
}
.l-contents__news__topic li:nth-child(3) {
  margin-left: 18px;
  border: none;
}
.l-contents__news__topic p {
  padding-top: 14px;
}
@media (max-width: 599px) {
  .l-contents__news__topic {
    width: 100%;
    padding: 6px 16px;
  }
}
.l-contents__about {
  display: flex;
  margin-top: 130px;
}
.l-contents__about picture {
  width: 55%;
  height: 400px;
}
.l-contents__about picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-contents__about__topic {
  width: 41%;
  margin-left: 58px;
  margin-top: 193px;
}
.l-contents__business {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 130px;
}
.l-contents__business__topic {
  display: flex;
}
.l-contents__business__left, .l-contents__business__right {
  width: 36%;
}
.l-contents__business__left picture img, .l-contents__business__right picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-contents__business__left__2, .l-contents__business__right__2 {
  margin-top: 53px;
}
.l-contents__business__left {
  margin-top: 124px;
  margin-left: 100px;
}
.l-contents__business__right {
  margin-left: 81px;
  margin-top: 20px;
}
.l-contents__company {
  margin-top: 17px;
  margin-left: 140px;
  padding: 110px 62px;
  position: relative;
}
.l-contents__company picture {
  position: absolute;
  top: 223px;
  left: 515px;
  height: 400px;
  width: 547px;
  object-fit: cover;
}
.l-contents__company picture img {
  width: 100%;
  height: 100%;
}

.l-footer {
  background-color: white;
  max-width: 100%;
  padding: 28px;
}
.l-footer__menu {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.l-footer__menu__logo {
  width: 100px;
  margin-top: 40px;
}
.l-footer__menu__logo img {
  width: 100%;
}
.l-footer__menu__right {
  margin-right: 11px;
}
.l-footer__menu__right p {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}
.l-footer__sentence {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 22px;
}
.l-footer__sentence p {
  font-size: 12px;
  font-weight: regular;
  line-height: 2;
  letter-spacing: 0em;
}

.l-header {
  height: 80px;
  max-width: 1400px;
  margin: 0 auto;
}
.l-header_logo {
  width: 100px;
  line-height: 93px;
  padding-right: 30px;
}
@media (max-width: 599px) {
  .l-header_logo {
    width: 20%;
    line-height: 54px;
    margin-left: 18px;
  }
}
.l-header_logo img {
  width: 100%;
}
.l-header_menu {
  line-height: 70px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .l-header_menu {
    flex-direction: column;
  }
}
.l-header_menu a {
  padding-bottom: 12px;
}
@media (max-width: 599px) {
  .l-header_menu a {
    padding-bottom: 18px;
    display: block;
    line-height: 0;
  }
}
@media (max-width: 599px) {
  .l-header_menu li {
    line-height: 0;
  }
}
.l-header_menu_left, .l-header_menu_right {
  display: flex;
}
@media (max-width: 900px) {
  .l-header_menu_left, .l-header_menu_right {
    flex-direction: column;
  }
}
.l-header_menu_left {
  padding-left: 90px;
}
@media (max-width: 900px) {
  .l-header_menu_left {
    align-items: flex-start;
    padding-left: 0px;
  }
}
.l-header_menu_left a {
  padding-left: 30px;
}
@media (max-width: 900px) {
  .l-header_menu_left a:nth-child(1) {
    padding-left: 15px;
  }
}
.l-header_menu_right {
  background-color: black;
  color: white;
  width: 200px;
  align-items: center;
}
@media (max-width: 900px) {
  .l-header_menu_right {
    display: none;
  }
}
.l-header_menu_right a {
  margin: 0 auto;
  text-align: center;
}

.l-contents_page {
  max-width: 100%;
  display: flex;
}
@media (max-width: 599px) {
  .l-contents_page {
    flex-direction: column;
  }
}
.l-contents_page_picture {
  width: 50%;
  height: 700px;
}
@media (max-width: 599px) {
  .l-contents_page_picture {
    width: 100%;
  }
}
.l-contents_page_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-contents_page_menu {
  width: 50%;
  padding: 40px 5%;
}
@media (max-width: 599px) {
  .l-contents_page_menu {
    width: 90%;
  }
}
.l-contents_page_menu_title h1 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
.l-contents_page_menu_title p {
  font-size: 16px;
  padding-bottom: 40px;
}
.l-contents_page_menu_food h2 {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.l-contents_page_menu_food dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 40px;
}
.l-contents_page_menu_food dt {
  width: 50%;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_menu_food dd {
  width: 50%;
  text-align: end;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_menu_method h2 {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.l-contents_page_menu_method dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.l-contents_page_menu_method dt {
  font-size: 16px;
  padding: 3px 0 0 0;
  width: 5%;
}
.l-contents_page_menu_method dd {
  font-size: 16px;
  width: 95%;
  text-align: start;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_btn {
  max-width: 250px;
  text-align: center;
  margin: 60px auto 0;
  border: 1px #2b2a27 solid;
}
@media (max-width: 599px) {
  .l-contents_page_btn {
    margin: 20px auto 0;
  }
}
.l-contents_page_btn p {
  color: #2b2a27;
  padding: 18px 60px;
  font-size: 14px;
}
.l-contents_page_SNS {
  max-width: 180px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.l-contents_page_SNS1, .l-contents_page_SNS2, .l-contents_page_SNS3 {
  margin-top: 100px;
  border-bottom: 1px solid #2b2a27;
  font-size: 12px;
}
.l-contents_page_SNS p {
  color: #2b2a27;
}

.p-article__section__title {
  margin-bottom: 24px;
}
.p-article__section__title__a {
  background-color: #fff;
  width: 567px;
  padding: 116px 60px 110px 60px;
}
.p-article__section__text {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.7142857143;
  letter-spacing: 0em;
}
.p-article__section__text::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-top: 35px;
}
.p-article__section__p {
  padding-top: 19px;
  padding-right: 66px;
  font-size: 14px;
  font-weight: regular;
  line-height: 2.2;
  letter-spacing: 0em;
}

.btopic {
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 20px;
  font-size: 12px;
  padding: 4px 7px;
  margin-left: 15px;
}

.c-table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px;
}
.c-table dt {
  width: 15%;
  margin-top: 0px;
}
.c-table dd {
  width: 80%;
  margin-top: 0px;
}
.c-table .right {
  margin-left: 15%;
}

.list {
  display: flex;
  padding-top: 27px;
}
@media (max-width: 900px) {
  .list {
    padding-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */