body {
  background: #ffffff;
  list-style: none;
}
body a {
  color: inherit;
}
body h1 {
  font-size: 36px;
  font-weight: regular;
  line-height: 0.6666666667;
  letter-spacing: 0.2em;
}
body li {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.7142857143;
  letter-spacing: 0em;
}
body p {
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}
body th,
body td {
  font-size: 14px;
  font-weight: regular;
  line-height: 2.5142857143;
  letter-spacing: 0em;
}
body time {
  font-size: 13px;
  font-weight: regular;
  line-height: 1.8461538462;
  letter-spacing: 0em;
}
body .btopic {
  background-color: #000;
  color: #fff;
  width: 50px;
  height: 20px;
  font-size: 12px;
  padding: 4px 7px;
  margin-left: 9px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.l-contents {
  margin: 0 auto;
  max-width: 1400px;
}
.l-contents__picture {
  width: 100%;
}
@media (max-width: 599px) {
  .l-contents__picture {
    max-width: none;
    width: 100%;
  }
}
.l-contents__picture img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.l-contents__news {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 128px;
}
@media (max-width: 599px) {
  .l-contents__news {
    flex-direction: column;
    padding-left: 0;
  }
}
.l-contents__news__topic {
  display: flex;
  margin-top: 54px;
}
.l-contents__news__topic li {
  width: 33%;
  border-right: 1px solid #000;
  padding-left: 20px;
}
.l-contents__news__topic li:first-child {
  padding-left: 0px;
}
.l-contents__news__topic li:last-child {
  border: none;
}
.l-contents__news__topic p {
  padding-top: 10px;
}
@media (max-width: 599px) {
  .l-contents__news__topic {
    width: 100%;
    padding: 6px 16px;
  }
}
.l-contents__about {
  display: flex;
  margin-top: 120px;
}
.l-contents__about picture {
  width: 55%;
  height: 400px;
}
.l-contents__about picture img {
  width: 100%;
  object-fit: cover;
}
.l-contents__about__topic {
  width: 45%;
  margin-left: 70px;
  margin-top: 190px;
}
.l-contents__section__title {
  margin-bottom: 20px;
}
.l-contents__section__text {
  font-size: 11px;
  font-weight: regular;
  line-height: 2.1818181818;
  letter-spacing: 0em;
}
.l-contents__section__text::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-top: 37px;
}
.l-contents__section__p {
  font-size: 14px;
  font-weight: regular;
  line-height: 2.2;
  letter-spacing: 0em;
}

.l-contents_page {
  max-width: 100%;
  display: flex;
}
@media (max-width: 599px) {
  .l-contents_page {
    flex-direction: column;
  }
}
.l-contents_page_picture {
  width: 50%;
  height: 700px;
}
@media (max-width: 599px) {
  .l-contents_page_picture {
    width: 100%;
  }
}
.l-contents_page_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.l-contents_page_menu {
  width: 50%;
  padding: 40px 5%;
}
@media (max-width: 599px) {
  .l-contents_page_menu {
    width: 90%;
  }
}
.l-contents_page_menu_title h1 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
.l-contents_page_menu_title p {
  font-size: 16px;
  padding-bottom: 40px;
}
.l-contents_page_menu_food h2 {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.l-contents_page_menu_food dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding-bottom: 40px;
}
.l-contents_page_menu_food dt {
  width: 50%;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_menu_food dd {
  width: 50%;
  text-align: end;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_menu_method h2 {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.l-contents_page_menu_method dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.l-contents_page_menu_method dt {
  font-size: 16px;
  padding: 3px 0 0 0;
  width: 5%;
}
.l-contents_page_menu_method dd {
  font-size: 16px;
  width: 95%;
  text-align: start;
  border-bottom: 1px dotted #cccccc;
}
.l-contents_page_btn {
  max-width: 250px;
  text-align: center;
  margin: 60px auto 0;
  border: 1px #2b2a27 solid;
}
@media (max-width: 599px) {
  .l-contents_page_btn {
    margin: 20px auto 0;
  }
}
.l-contents_page_btn p {
  color: #2b2a27;
  padding: 18px 60px;
  font-size: 14px;
}
.l-contents_page_SNS {
  max-width: 180px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.l-contents_page_SNS1, .l-contents_page_SNS2, .l-contents_page_SNS3 {
  margin-top: 100px;
  border-bottom: 1px solid #2b2a27;
  font-size: 12px;
}
.l-contents_page_SNS p {
  color: #2b2a27;
}

.l-footer {
  max-width: 1000px;
}
.l-footer__menu {
  display: flex;
  justify-content: space-between;
}
.l-footer__menu__logo {
  width: 100px;
}
.l-footer__menu__logo img {
  width: 100%;
}
.l-footer__menu__right {
  font-size: 14px;
  font-weight: regular;
  line-height: 1.5;
  letter-spacing: 0em;
}

.l-header {
  height: 80px;
  max-width: 1400px;
  margin: 0 auto;
}
.l-header_logo {
  width: 100px;
  line-height: 93px;
  padding-right: 30px;
}
@media (max-width: 599px) {
  .l-header_logo {
    padding: 37px 0px 21px 0px;
  }
}
.l-header_logo img {
  width: 100%;
}
.l-header_menu {
  line-height: 70px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.l-header_menu a {
  padding-bottom: 12px;
}
.l-header_menu_left, .l-header_menu_right {
  display: flex;
}
.l-header_menu_left {
  align-items: center;
  padding-left: 90px;
}
.l-header_menu_left a {
  padding-left: 30px;
}
.l-header_menu_right {
  background-color: black;
  color: white;
  width: 200px;
  align-items: center;
}
.l-header_menu_right a {
  margin: 0 auto;
  text-align: center;
}/*# sourceMappingURL=style.css.map */