@use "../global" as *;

.l-contents {
  margin: 0 auto;
  max-width: 1400px;
  &__picture {
    width: 100%;
    @include sp {
      max-width: none;
      width: 100%;
    }
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
  &__news {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 127px;
    @include sp {
      flex-direction: column;
      padding-left: 0;
    }
    &__topic {
      display: flex;
      margin-top: 57px;
      li {
        width: 33%;
        border-right: 1px solid #000;
        padding-left: 20px;
        &:first-child {
          padding-left: 0px;
        }
        &:last-child {
          border: none;
        }
      }
      @include sp {
        width: 100%;
        padding: 6px 16px;
      }
    }
  }

  &__section {
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      @include f_around(11, regular, 24, 0);
      &::after {
        content: "";
        width: 40px;
        height: 1px;
        background-color: #000;
        display: block;
        margin-top: 33px;
      }
    }
  }
}
