@use "../global" as *;

.l-footer {
  max-width: 1000px;
  &__menu {
    display: flex;
    justify-content: space-between;
    &__logo {
      width: 100px;
      img {
        width: 100%;
      }
    }
    &__right {
      @include f_around(14, regular, 21, 0);
    }
  }
}
