@use "../global" as *;

.l-header {
  height: 80px;
  max-width: 100%;

  &_logo {
    width: 100px;
    line-height: 80px;
    margin: 0 auto;
    padding-right: 20px;
    @include sp {
      padding: 37px 0px 21px 0px;
    }
    img {
      width: 100%;
    }
  }
  &_menu {
    display: flex;
    line-height: 70px;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;

    @include sp {
    }
    &_left,
    &_right {
      display: flex;
    }

    &_left {
      a {
        padding-left: 30px;
      }
    }
    &_right {
      padding-left: 7px;
    }
  }
}
