@use "../global" as *;

.l-header {
  height: 80px;
  max-width: 1400px;
  margin: 0 auto;

  &_logo {
    width: 100px;
    line-height: 93px;
    padding-right: 30px;
    @include sp {
      padding: 37px 0px 21px 0px;
    }
    img {
      width: 100%;
    }
  }
  &_menu {
    line-height: 70px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      padding-bottom: 12px;
    }

    @include sp {
    }
    &_left,
    &_right {
      display: flex;
    }

    &_left {
      align-items: center;

      padding-left: 90px;
      a {
        padding-left: 30px;
      }
    }
    &_right {
      background-color: black;
      color: white;
      width: 200px;
      align-items: center;
      a {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
