.c-table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px;

  dt {
    width: 15%;
    margin-top: 0px;
  }
  dd {
    width: 80%;
    margin-top: 0px;
  }
  .right {
    margin-left: 15%;
  }
}
